In [4]:
import requests
import pandas as pd
#import datetime
import time

def getData(ticker, metric, no_of_days):
    
    ticker = ticker + '.NS'
    current_time = int(round(time.time()))
    start_time = current_time - (no_of_days)*24*60*60
    
    
    resp = requests.get('https://query1.finance.yahoo.com/v8/finance/chart/'
                        +ticker+'?formatted=true&crumb=3fOAXVz3HoU&lang=en-IN&region=IN&period1='
                        +str(start_time)+'&period2='+str(current_time)
                        +'&interval=1d&events=div%7Csplit&corsDomain=in.finance.yahoo.com')
    
    
    result = resp.json()
    
    
    timestamps = result['chart']['result'][0]['timestamp']
    values = result['chart']['result'][0]['indicators']['quote'][0][metric]
    
    #len(values)
    #datetime.datetime.fromtimestamp(timestamps[len(timestamps) - 1])
    
    
    d = {'timestamp': timestamps, 'value': values}
    dataFrame = pd.DataFrame(data=d)
    
    return dataFrame

In [52]:
val = getData('SBIN', 'close', 350)

In [34]:
val['5SMA'] = val['value'].rolling(window = 25).mean()

In [39]:
window_length = 25
data = val
sma = data['value'].rolling(window = window_length).mean()
d = {'timestamp': data['timestamp'], 'sma': sma}
dataFrame = pd.DataFrame(data=d)

In [42]:
import numpy as np

In [46]:
data['std'] = data['value'].rolling(window = 20).std() * 2
data['sma20'] = data['value'].rolling(window = 20).mean()

In [47]:
data['lower'] = data['sma20'] - data['std']

In [49]:
data.tail()

      timestamp       value        5SMA        std       lower       sma20
231  1548042300  292.450012  297.055996   9.515549  288.359446  297.874995
232  1548128700  290.250000  297.085996   9.889493  287.845503  297.734996
233  1548215100  286.649994  296.841996  10.971469  286.388527  297.359996
234  1548301500  288.049988  296.335995  11.520819  285.634177  297.154996
235  1548387900  285.399994  295.989995  12.638121  284.046875  296.684996

In [57]:
def get_bollinger_bands(data, window_length, variation):
    sma = data['value'].rolling(window = window_length).mean()
    std = data['value'].rolling(window = window_length).std()

    d = {'timestamp': data['timestamp'], 'sma': sma, 'std': std}
    dataFrame = pd.DataFrame(data=d)
    
    dataFrame['upper_band'] = dataFrame['sma'] + variation*dataFrame['std']
    dataFrame['lower_band'] = dataFrame['sma'] - variation*dataFrame['std']
    
    return dataFrame

In [58]:
get_bollinger_bands(val, 20, 2)

      timestamp         sma        std  upper_band  lower_band
0    1518407100         NaN        NaN         NaN         NaN
1    1518579900         NaN        NaN         NaN         NaN
2    1518666300         NaN        NaN         NaN         NaN
3    1518752700         NaN        NaN         NaN         NaN
4    1519011900         NaN        NaN         NaN         NaN
5    1519098300         NaN        NaN         NaN         NaN
6    1519184700         NaN        NaN         NaN         NaN
7    1519271100         NaN        NaN         NaN         NaN
8    1519357500         NaN        NaN         NaN         NaN
9    1519616700         NaN        NaN         NaN         NaN
10   1519703100         NaN        NaN         NaN         NaN
11   1519789500         NaN        NaN         NaN         NaN
12   1519875900         NaN        NaN         NaN         NaN
13   1520221500         NaN        NaN         NaN         NaN
14   1520307900         NaN        NaN         NaN         NaN
15   1520394300         NaN        NaN         NaN         NaN
16   1520480700         NaN        NaN         NaN         NaN
17   1520567100         NaN        NaN         NaN         NaN
18   1520826300         NaN        NaN         NaN         NaN
19   1520912700  266.594999  10.602223  287.799445  245.390553
20   1520999100  265.009998   9.419337  283.848671  246.171325
21   1521085500  263.884998   9.355947  282.596893  245.173103
22   1521171900  262.564997   9.011749  280.588495  244.541499
23   1521431100  261.379997   9.307601  279.995199  242.764795
24   1521517500  260.409998   9.534654  279.479306  241.340689
25   1521603900  259.327498   9.658586  278.644670  240.010326
26   1521690300  257.739999   9.848546  277.437090  238.042907
27   1521776700  255.849998  10.455079  276.760156  234.939841
28   1522035900  254.372499   9.494008  273.360515  235.384483
29   1522122300  253.367499   8.237530  269.842558  236.892439
..          ...         ...        ...         ...         ...
206  1544759100  284.154997   4.827030  293.809058  274.500936
207  1545018300  284.084998   4.733310  293.551618  274.618377
208  1545104700  284.314998   5.042871  294.400739  274.229256
209  1545191100  285.177498   6.223989  297.625476  272.729520
210  1545277500  285.527498   6.524398  298.576294  272.478702
211  1545363900  285.987497   6.637888  299.263273  272.711720
212  1545623100  286.319997   6.823594  299.967184  272.672810
213  1545795900  286.557497   7.016377  300.590252  272.524742
214  1545882300  286.937497   7.107148  301.151792  272.723202
215  1545968700  287.357497   7.318762  301.995021  272.719973
216  1546227900  287.919997   7.529021  302.978038  272.861956
217  1546314300  288.559998   7.960472  304.480941  272.639055
218  1546400700  289.127498   7.913903  304.955303  273.299693
219  1546487100  289.674998   7.633952  304.942903  274.407094
220  1546573500  290.774998   7.070945  304.916889  276.633108
221  1546832700  291.819998   6.165530  304.151057  279.488939
222  1546919100  293.374997   5.356487  304.087971  282.662022
223  1547005500  294.577496   5.188129  304.953754  284.201239
224  1547091900  295.592496   5.252597  306.097691  285.087301
225  1547178300  296.279996   5.244152  306.768301  285.791691
226  1547437500  296.839995   5.042440  306.924875  286.755115
227  1547523900  297.447495   4.839406  307.126308  287.768682
228  1547610300  297.967494   4.866758  307.701010  288.233979
229  1547696700  297.802493   4.825002  307.452497  288.152490
230  1547783100  297.847495   4.792247  307.431989  288.263000
231  1548042300  297.874995   4.757775  307.390545  288.359446
232  1548128700  297.734996   4.944746  307.624489  287.845503
233  1548215100  297.359996   5.485734  308.331465  286.388527
234  1548301500  297.154996   5.760409  308.675814  285.634177
235  1548387900  296.684996   6.319061  309.323117  284.046875

[236 rows x 5 columns]

In [59]:
val.tail()

      timestamp       value
231  1548042300  292.450012
232  1548128700  290.250000
233  1548215100  286.649994
234  1548301500  288.049988
235  1548387900  285.399994