In [1]:
import requests
import pandas as pd
#import datetime
import time

def getData(ticker, metric, no_of_days):
    
    ticker = ticker + '.NS'
    current_time = int(round(time.time()))
    start_time = current_time - (no_of_days)*24*60*60
    
    
    resp = requests.get('https://query1.finance.yahoo.com/v8/finance/chart/'
                        +ticker+'?formatted=true&crumb=3fOAXVz3HoU&lang=en-IN&region=IN&period1='
                        +str(start_time)+'&period2='+str(current_time)
                        +'&interval=1d&events=div%7Csplit&corsDomain=in.finance.yahoo.com')
    
    
    result = resp.json()
    
    
    timestamps = result['chart']['result'][0]['timestamp']
    values = result['chart']['result'][0]['indicators']['quote'][0][metric]
    
    #len(values)
    #datetime.datetime.fromtimestamp(timestamps[len(timestamps) - 1])
    
    
    d = {'timestamp': timestamps, 'value': values}
    dataFrame = pd.DataFrame(data=d)
    
    return dataFrame

In [2]:
val = getData('SBIN', 'close', 350)

In [3]:
val['5SMA'] = val['value'].rolling(window = 25).mean()

In [4]:
window_length = 25
data = val
sma = data['value'].rolling(window = window_length).mean()
d = {'timestamp': data['timestamp'], 'sma': sma}
dataFrame = pd.DataFrame(data=d)

In [5]:
import numpy as np

In [6]:
data['std'] = data['value'].rolling(window = 20).std() * 2
data['sma20'] = data['value'].rolling(window = 20).mean()

In [7]:
data['lower'] = data['sma20'] - data['std']

In [8]:
data.tail()

      timestamp       value        5SMA        std       sma20       lower
232  1548128700  290.250000  297.085996   9.889493  297.734996  287.845503
233  1548215100  286.649994  296.841996  10.971469  297.359996  286.388527
234  1548301500  288.049988  296.335995  11.520819  297.154996  285.634177
235  1548387900  285.399994  295.989995  12.638121  296.684996  284.046875
236  1548669600  281.600006  295.577996  14.329919  295.969997  281.640078

In [9]:
def get_bollinger_bands(data, window_length, variation):
    sma = data['value'].rolling(window = window_length).mean()
    std = data['value'].rolling(window = window_length).std()

    d = {'timestamp': data['timestamp'], 'sma': sma, 'std': std}
    dataFrame = pd.DataFrame(data=d)
    
    dataFrame['upper_band'] = dataFrame['sma'] + variation*dataFrame['std']
    dataFrame['lower_band'] = dataFrame['sma'] - variation*dataFrame['std']
    
    return dataFrame

In [11]:
get_bollinger_bands(val, 20, 2).tail()

      timestamp         sma       std  upper_band  lower_band
232  1548128700  297.734996  4.944746  307.624489  287.845503
233  1548215100  297.359996  5.485734  308.331465  286.388527
234  1548301500  297.154996  5.760409  308.675814  285.634177
235  1548387900  296.684996  6.319061  309.323117  284.046875
236  1548669600  295.969997  7.164959  310.299915  281.640078

In [12]:
val.tail()

      timestamp       value        5SMA        std       sma20       lower
232  1548128700  290.250000  297.085996   9.889493  297.734996  287.845503
233  1548215100  286.649994  296.841996  10.971469  297.359996  286.388527
234  1548301500  288.049988  296.335995  11.520819  297.154996  285.634177
235  1548387900  285.399994  295.989995  12.638121  296.684996  284.046875
236  1548669600  281.600006  295.577996  14.329919  295.969997  281.640078

In [18]:
list(data.tail()['timestamp'])[0]

1548128700

In [26]:
from datetime import datetime
import pytz
ist = pytz.timezone("Asia/Kolkata")

In [30]:
datetime.fromtimestamp(list(data.tail()['timestamp'])[1] + 375*60,ist).strftime('%Y-%m-%d %H:%M:%S')

'2019-01-23 15:30:00'

In [35]:
datetime.fromtimestamp(list((data['timestamp'] + 375*60).tail())[1],ist).strftime('%Y-%m-%d %H:%M:%S')

'2019-01-23 15:30:00'

In [37]:
import requests
import pandas as pd
#import datetime
import time

def getData(ticker, metric, no_of_days):
    
    ticker = ticker + str('.NS')
    current_time = int(round(time.time()))
    start_time = current_time - (no_of_days)*24*60*60
    
    
    resp = requests.get('https://query1.finance.yahoo.com/v8/finance/chart/'
                        +ticker+'?formatted=true&crumb=3fOAXVz3HoU&lang=en-IN&region=IN&period1='
                        +str(start_time)+'&period2='+str(current_time)
                        +'&interval=1d&events=div%7Csplit&corsDomain=in.finance.yahoo.com')
    
    
    result = resp.json()
    
    
    timestamps = result['chart']['result'][0]['timestamp']
    values = result['chart']['result'][0]['indicators']['quote'][0][metric]
    
    #len(values)
    #datetime.datetime.fromtimestamp(timestamps[len(timestamps) - 1])
    
    
    d = {'timestamp': timestamps, 'value': values}
    dataFrame = pd.DataFrame(data=d)
    
    dataFrame['timestamp'] = dataFrame['timestamp'] + 375*60
    
    return dataFrame

In [39]:
d = getData('MARUTI', 'close', 365)

In [40]:
d

      timestamp        value
0    1517220000  9630.700195
1    1517306400  9571.549805
2    1517392800  9509.700195
3    1517479200  9401.849609
4    1517565600  8990.599609
5    1517824800  9080.599609
6    1517911200  8984.599609
7    1517997600  8921.799805
8    1518084000  9030.700195
9    1518170400  8936.099609
10   1518429600  9117.849609
11   1518602400  9001.599609
12   1518688800  9020.250000
13   1518775200  8836.950195
14   1519034400  8724.849609
15   1519120800  8722.650391
16   1519207200  8782.750000
17   1519293600  8634.049805
18   1519380000  8698.799805
19   1519639200  9005.349609
20   1519725600  8891.200195
21   1519812000  8850.950195
22   1519898400  8873.450195
23   1520244000  8795.099609
24   1520330400  8616.500000
25   1520416800  8679.099609
26   1520503200  8729.349609
27   1520589600  8660.599609
28   1520848800  8810.299805
29   1520935200  8756.049805
..          ...          ...
217  1545040800  7734.049805
218  1545127200  7772.350098
219  1545213600  7936.000000
220  1545300000  7807.049805
221  1545386400  7536.299805
222  1545645600  7529.149902
223  1545818400  7569.100098
224  1545904800  7499.950195
225  1545991200  7505.549805
226  1546250400  7465.500000
227  1546336800  7476.799805
228  1546423200  7267.850098
229  1546509600  7203.950195
230  1546596000  7234.500000
231  1546855200  7362.049805
232  1546941600  7439.500000
233  1547028000  7492.899902
234  1547114400  7391.600098
235  1547200800  7320.500000
236  1547460000  7408.700195
237  1547546400  7355.149902
238  1547632800  7310.250000
239  1547719200  7336.250000
240  1547805600  7357.950195
241  1548064800  7208.399902
242  1548151200  7068.850098
243  1548237600  7045.399902
244  1548324000  7040.600098
245  1548410400  6513.399902
246  1548692100  6511.049805

[247 rows x 2 columns]

In [41]:
datetime.fromtimestamp(list((d['timestamp']).tail())[1],ist).strftime('%Y-%m-%d %H:%M:%S')

'2019-01-23 15:30:00'